@import '~@angular/material/theming';
@include mat-core();
$config: mat-typography-config();
$vehicle-app-primary: mat-palette($mat-teal);
$vehicle-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$vehicle-app-warn:    mat-palette($mat-red);
$vehicle-app-theme: mat-light-theme($vehicle-app-primary, $vehicle-app-accent, $vehicle-app-warn);
@include angular-material-theme($vehicle-app-theme);

body {
  font-family: mat-font-family($config);

  .cdk-overlay-pane {
    max-width: 100vw !important;
  }

  h2 {
    font-weight: 500;
  }

  .mat-dialog-container {
    padding: 0 24px !important;
  }

  mat-dialog-content {
    max-height: 100vh !important;
    padding: 0 24px !important;
  }

  .mat-dialog-actions:last-child {
    margin-bottom: 10px !important;
  }

  .mat-checkbox-layout .mat-checkbox-label {
    line-height: 23px !important;
  }
}